button.play Play

div.slider

span By&nbsp;
span.year 0
span ,&nbsp;
span.count-men 0
span &nbsp;men (
span.pct-men
span %) and 
span.count-women 0
span &nbsp;women (
span.pct-women
span %)
span will have never been able to vote in an EU election

#uk
