// Interactive-specific css here

clearfix()
    &:after
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;

.pair
    clearfix()

    .left,.right
        float: left
        width: 50%

text
    &.left,&.right
        fill: $qz-chart-axis-text

rect
    &.gender-male
        fill: $qz-purp-1
        stroke: $qz-background-gray
        stroke-width: 1px

        &.highlight
            fill: $qz-purp-3

    &.gender-female
        fill: $qz-blue-1
        stroke: $qz-background-gray
        stroke-width: 1px

        &.highlight
            fill: $qz-blue-3

.footnote
    color: $qz-chart-axis-text

/*
 * Media queries
 */
@media screen and (max-width: 600px)
    .pair
        .left,.right
            float: none
            width: 100%
